{% load static %}
<!-- Footer -->
<footer>
  <div class="footer-container">
    <div class="footer-section">
      <div class="logo">
        <img
          class="footer-logo"
          src="{% static 'Clientes/img/icons/ITBA-logo.svg' %}"
          alt="Logo ITBANK"
        />
      </div>
      <div class="redes">
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
      </div>
    </div>
    <div class="footer-section">
      <h3>Navegación</h3>
      <ul>
        <li><a href="">¿Quienes Somos?</a></li>
        <li><a href="">Compras</a></li>
        <li><a href="">Transferencias</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Ayuda</h3>
      <ul>
        <li><a href="">Robo o Extravio</a></li>
        <li><a href="">Costos</a></li>
        <li><a href="">Preguntas Frecuentes</a></li>
      </ul>
    </div>
    <div class="copyright">ITBANK 2022. Todos los derechos reservados</div>
  </div>
</footer>
